


    
body section p{
    color:#0E0E0E ;
}

body {
    margin: 5px 160px;
    background-color: #F1F1F3;
}
  /* nav style */

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
    
}
.nav1{
 font-size: 32px;
 font-weight: bold;
 color: black;
}
.nav2{
 margin-right: 20px;
border: 2px solid rgba(0, 106, 80, 1);
padding: 10px 15px;
border-radius: 5px;
box-shadow: none;
color:rgba(0, 106, 80, 1) ;
}


   /* card 1 */


.column{
    width: 1100px;
    height: 300px;
    display: flex;
     /* margin-left: 50px; */
    padding: 100px;
    /* margin: 20px 160px 80px 160px;  */
    background-color: #C6E4D6;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    /* margin-right: 30px; */
    
    
}



.title{
    font-size: 24px;
    font-weight:bold ;
    color:rgba(14, 14, 14, 0.5) ;
}
.dis{
    font-size: 56px;
   
    color:rgba(14, 14, 14, 1) ;
    margin: 10px 0px 24px 0px;
}
.btn{
background-color: rgba(0, 106, 80, 1);
color: white;
border-radius: 8px;
padding: 10px;
box-shadow: none;
}
.car{
    width: 600px;
    height: 400px;
    margin-bottom: 30px;
    margin-left: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 50px; */
}

.card{
    display: flex;
    gap: 25px;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 10px;

}
.hed{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
}
.card1{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    /* margin: 24px; */
}
.card2{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    margin-top: 32px;
}
.card3{
    background-color: #7ac9a5 ;
    padding: 32px;
    border-radius: 16px;
    margin-top: 32px;
}
.card4{
    background-color:rgb(255, 227, 161) ;
    padding: 32px;
    border-radius: 16px;
    margin-top: 32px;
}

.sec{
    background-repeat: no-repeat;
    margin-top: 40px;
    padding: 40px 25px;
   background-image: url(../assets/quote-bg.png);
    border-radius: 16px;
    border: 1px solid white;
    background-color: #ffffff;
   background-position: 25px 24px;
}


    /* none  */
#ton{
    background-color: #5490F5;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
#tto{
    background-color: #09A15C;
    padding: 10px;
    border-radius: 8px;
     border: none;
}
#utt{
    background-color: #FFC239;
    padding: 10px;
    border-radius: 8px;
     border: none;
}


.column-dis{
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px;
}
.column-title{
    display: flex;
    justify-content: space-between;
    border: 1px solid #b1b1b15d;
    padding: 2px 24px;
    background-color: #C6E4D6;
}
.column-title1{
    display: flex;
    justify-content: space-between;
    border: 1px solid #b1b1b15d;
    padding: 2px 24px;
    align-items: center;
    
}
.bor{
    padding: 10px;
    background-color: #C6E4D6;
    border-radius: 5px;
}

.sate{
    display: flex;
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 20px;
    gap: 20px;
    margin-top: 30px;
}
.sate-title{
    margin: 20px 10px 20px 30px;
    border-radius: 24px;
}

.sate-dis{
    padding: 30px;
}

.hero{
    padding: 10px;
    border-radius: 10px;
    background-color: #006A50 ;
    box-shadow: none;
}
.cen{
    text-align: center;
    margin: 32px 84px;
    padding: 0px 35px;
}

.ta{
    display: flex;
    justify-content: center;
    margin: 24px;
    gap: 24px;
    
}

.free{
    border: 1px solid white;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
}
#col{
    background-color: #006A50;
    box-shadow: none;
}



.content{
    width: 850px;
    height: 60px;
    margin-left: 200px;
    margin-bottom: 10px;
    gap: 14px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
}
.heroo{
    background-color: #006A50;
    box-shadow: none;
    margin: 10px;
    
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    justify-content: center;
}
.her{
    justify-content: center;
    text-align: center;
}
.main1{
    /* border: 1px solid black; */
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 80px 240px;
    margin-bottom: 180px;
}
.col{
    text-align: center;
    padding: 10px 100px;
}
.col-title{
    display: flex;
    gap: -1px;
    border: none;
}
.disc{
    width: 630px;
    height: 50px;
    border: none;
    border-radius: 5px;
    
}
.bom{
    border: none;
    background-color: #006A50;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: none;
    
}

footer{
    background-color: #ffffff;
    padding: 50px;
}
footer hr{
    width: 900px;
    
}
footer div{
    display: flex;
    justify-content: center;
    padding: 20px;
}